### GROVER SIZE 8,16 IN IBM (Falcon) AND QUANTINUUM

In [1]:
# Caller
from pathlib import Path
import sys

# Discover project root
proj = Path.cwd().resolve()
for _ in range(8):
    if (proj / "results" / "pairwise" / "summary").exists() and (proj / "notebooks").exists():
        break
    if proj.parent == proj:
        break
    proj = proj.parent

# Import helper
sys.path.insert(0, str(proj / "notebooks"))
from notebook_helper import load_family, tidy, show_table  # (sort_best_worst, add_rank_within_size available if needed)

# analysis parameters
FAMILY = "grover"  # or: "qaoa","vqe_two_local","qft","grover","vbe_adder","randomcircuit"
BACKENDS = ("ibm_falcon","quantinuum")

loaded = load_family(FAMILY, BACKENDS)

for backend, df in loaded.items():
    tbl = tidy(df)
    show_table(tbl, caption=f"{FAMILY.upper()} – {backend} (raw tidy)")

    # To rank later, uncomment:
    # from notebook_helper import sort_best_worst, add_rank_within_size
    # PRIMARY_METRIC = "depth_delta"  # or "n_ops_total_gates_delta", "n_ops_total_delta", etc.
    # ranked = sort_best_worst(tbl, primary=PRIMARY_METRIC, per_size=True)
    # ranked = add_rank_within_size(ranked, by=PRIMARY_METRIC)
    # show_table(ranked, caption=f"{FAMILY.upper()} – {backend} (ranked by {PRIMARY_METRIC})")

### quick findings

- **CTM → RR** consistently looks like a strong reducer of depth across Grover runs. RR benefits a lot when CTM runs first (CTM exposes cancelable patterns that RR removes)
- **RB ↔ RR**: IBM shows tiny directional differences (diff = 1 in some sizes) whereas Quantinuum shows symmetric behavior, suggests the *native gateset / decomposition* or pass implementations are causing subtle differences.
- **RB ↔ CTM** tends to be neutral or harmful (depth increase).
- **Δs are dominated by 1-qubit gate reductions**: 2-qubit gate counts barely change -> passes are rearranging and canceling 1-qubit layers rather than affecting entangling structure.