### QAOA SIZE 8,16 REPS 1,3 SEED 11,22,33 IN IBM (Falcon) AND QUANTINUUM

In [1]:
# Caller
from pathlib import Path
import sys

# Discover project root
proj = Path.cwd().resolve()
for _ in range(8):
    if (proj / "results" / "pairwise" / "summary").exists() and (proj / "notebooks").exists():
        break
    if proj.parent == proj:
        break
    proj = proj.parent

# Import helper
sys.path.insert(0, str(proj / "notebooks"))
from notebook_helper import load_family, tidy, show_table  # (sort_best_worst, add_rank_within_size available if needed)

# analysis parameters
FAMILY = "qaoa"  # or: "qaoa","vqe_two_local","qft","grover","vbe_adder","randomcircuit"
BACKENDS = ("ibm_falcon","quantinuum")

loaded = load_family(FAMILY, BACKENDS)

for backend, df in loaded.items():
    tbl = tidy(df)
    show_table(tbl, caption=f"{FAMILY.upper()} – {backend} (raw tidy)")

    # To rank later, uncomment:
    # from notebook_helper import sort_best_worst, add_rank_within_size
    # PRIMARY_METRIC = "depth_delta"  # or "n_ops_total_gates_delta", "n_ops_total_delta", etc.
    # ranked = sort_best_worst(tbl, primary=PRIMARY_METRIC, per_size=True)
    # ranked = add_rank_within_size(ranked, by=PRIMARY_METRIC)
    # show_table(ranked, caption=f"{FAMILY.upper()} – {backend} (ranked by {PRIMARY_METRIC})")

### quick findings

### ibm

the dominant pattern is: **RB ↔ RR** shows essentially no effect; **RB ↔ CTM** produces small, inconsistent depth changes (±1–3); **RR ↔ CTM** shows a directional effect : when **CTM → RR** we typically see a slightly larger depth reduction and consistent decreases in total ops / gates / 1-qubit gates (2-qubit gates unchanged). Changes are small (±1–3 depth on average) but consistent across many seeds/variants. Barriers are absent so not a confound. CTM reorders structure in a way that enables RR to cancel more effectively.

### quantinuum

the pairwise pass-order experiments produced **no measurable changes** across all tested pass combinations (RB, RR, CTM). Depth, total operations, total gates, 1qubit counts, 2qubit counts, and barrier presence are identical for both directions of each pass pair  

**Interpretation:** this suggests one (or more) of the following: 
- the passes are effectively idempotent on Quantinuum-based QAOA circuits
- the generated QAOA circuits contain no redundant single-qubit patterns for these passes to remove
- symbolic parameters prevent algebraic/numeric cancellations that would otherwise create differences